.hover:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.active {
  background-color: lightgrey;
}

.noNote {
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  color: lightgrey;
}
